<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="P.O.S.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="P.O.S.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <P.O.S.My.MySettings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Server=DESKTOP-5ABB736\SQLEXPRESS;Database=POSDbase;Integrated Security=true</value>
            </setting>
        </P.O.S.My.MySettings>
    </applicationSettings>
    <userSettings>
        <P.O.S.My.MySettings>
            <setting name="FullName" serializeAs="String">
                <value />
            </setting>
            <setting name="CreditLimit" serializeAs="String">
                <value />
            </setting>
            <setting name="Title" serializeAs="String">
                <value>Point of Sales</value>
            </setting>
        </P.O.S.My.MySettings>
    </userSettings>
</configuration>